<div class="card bg-light">
  <h1 class="card-header display-4">Download</h1>
  <p class="card-body">All files in storage will appear here. Reload this page when someone uploads a file.{{#if files}}
    <br>Click on any file to download it.
  {{/if}}</p>
</div>

<hr class="mt-4">
{{#if files}}
  <h4 class="mt-4">Files</h4>
{{/if}}
<ul class="list-group mt-4">
  {{#each files}}
    <a class="list-group-item" href="/api/files/{{this}}" download>{{this}}</a>
  {{else}}
    <span class="alert alert-danger">No files in storage.<br>Try refreshing the page.</span>
  {{/each}}
</ul>

<hr class="mt-4">

<a href="/share/upload" class="btn btn-light">Want to upload instead?</a>
